* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
}

.w-70 {
    height: 70vh;
    margin: 25px auto
}

.seccion {
text-align: center;
margin: 20px;
}

.seccionUl {
text-align: center;
align-items: center;
margin: 50px;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
background-color: white;
color: black;
}